*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    width: 5rem;
}
header{
    background-color: rgb(4, 4, 41);
}
#programmer{
    width: 20rem;
}
#emoji{
    width: 15rem;
}
#section1h1{
    margin-top: 10rem;
}
#secondSection{
    background-color: rgb(2, 2, 54);
    color: white;
    height: 500px;
}
#thirdSection{
    margin-top: -200px;
    background-color: white;
    border-radius: 1rem;
    height: 500px;
}
ul img{
    width: 7rem;
    height: 7rem;
}
#lastSection{
    height: 700px;
}
input[type=text],input[type=number],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
 #menu{
    font-size: 3rem;
 }
body,header{
    

  font-family: "Open Sans", sans-serif;
 
  
}
h1,h2,h3{
    
      font-family: "Kode Mono", monospace;
     
    }
#skillset{
    width: 100%;
    height: 100%;
}